PORT=3030
API_URL="localhost:3030"
JWT_SECRET="secret"
DATABASE_URL="postgresql://passmanagerTest:passmanagerjayaTest@localhost:5433/passmanagerDBTest?schema=public"

# Docker Compose DB
POSTGRES_USER=passmanagerTest
POSTGRES_PASSWORD=passmanagerjayaTest
POSTGRES_DB=passmanagerDBTest