PORT=3000
JWT_SECRET="secret"
DATABASE_URL="postgresql://passmanager:passmanagerjaya@localhost:5432/passmanagerDB?schema=public"

POSTGRES_USER=passmanager
POSTGRES_PASSWORD=passmanagerjaya
POSTGRES_DB=passmanagerDB